
.navbar-dark {
    .navbar-nav{
        .nav-link{
            color: #609CAC;
        }

        
    }

    .offcanvas-header{
        background-color: #386480;
    }

    .offcanvas-body{
        background-color: #386480;
    }

    
}

#app-navbar{
    background-color: #386480;
}
